@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
  box-sizing: border-box;
}

html, body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  font-family: Lato;
}

.main-header{
  background-color: #C2BFB9;
  color:#A73745;
  padding:0.5px;
  font-family: Poppins;
}

.main-header h1{
  word-spacing: 0.3em;
  margin-left: 50px;
}


.main-footer{
  background-color: #000000;
  color:#A73745;
  text-align:center;
  padding:0.5px;
  margin-top: 60px;
  clear: both;
}

.nav{
  text-align: center;
  background-color: #000000;
  font-size: 1.1em;
}


.nav ul {
  margin: 0;
}

.nav img{
  width: 50px;
  height: 50px;
  float:left;
  margin-left: 3em;
  margin-right: 3em;
}

.nav li {
  display: inline-block;
  list-style-type: none;
  width: 20%;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #F7FFF7;
  line-height: 50px;
}

.nav a:hover{
  color: #000000;
  background-color: skyblue;
}


.logo-image{
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em
}

.header {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: Poppins;
  font-size:30px;
}

.btn{
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  cursor: pointer;
}

.btn-join{
  border: 3px solid brown;
}

.btn-join:hover{
  background-color: cadetblue;
}

.homepage-list li {
  list-style: none; 
}

.homepage-list li::before{ 
  content: "→ "; 
}


.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  margin: 1em;
  max-width: 45%;
}

.member-name{
  display: block;
  text-align: left;
  font-weight: bold;
}

.member-description {
  margin: 0;
  margin-top: 1em;
  text-align: left;
  overflow: hidden;
}

.member-photo {
  float: left;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 1em;
}

.member-link{
  margin-right: 20px;
  text-decoration: none;
  color: #6BA0F5;
}

.member-link:hover{
  text-decoration: underline;
  color:#4587f3;
}


.introduction-pricing{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

table{
  margin:auto;
  border-collapse: collapse;
  margin-top:10px;
  width:70%;
  margin-top: 50px;
}
table thead, th{
  background-color: #A73745;
  color: #ffffff;
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
  
}

table td{
  background-color: #C2BFB9;
  color: #000000;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  padding: 20px;
}

tr:nth-child(even) td{
  background-color: #b8b6b3;
}

tr:nth-child(odd) td{
  background-color: #C2BFB9;
}

td {
  width:20%;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}


.big_image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.l_content {
  width: 40%;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
    
}

.r_content {
  width: 40%;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  }


.features_img {

  border: darkgray;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 10px;
  }

  .intro-about{
    margin-top:40px;
  }


  