* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.nav{
  text-align: center;
  background-color: #000000;
  font-size: 1.1em;
}


.nav ul {
  margin: 0;
}

.nav img{
  width: 50px;
  height: 50px;
  float:left;
  margin-left: 3em;
  margin-right: 3em;
}

.nav li {
  display: inline-block;
  list-style-type: none;
  width: 20%;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #F7FFF7;
  line-height: 50px;
}

.nav a:hover{
  color: #000000;
  background-color: skyblue;
}

.nav .active{
  color: #000000;
  background-color: #6BA0F5;
}
.logo-image{
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em
}

.header {
  text-decoration: underline;
  font-weight: bold;
}

.btn{
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  cursor: pointer;
}

.btn-join{
  border: 3px solid brown;
}

.btn-join:hover{
  background-color: cadetblue;
}

.homepage-list li {
  list-style: none; 
}

.homepage-list li::before{ 
  content: "→ "; 
}


.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  margin: 2em;
  max-width: 40%;
}

.member-name{
  display: block;
  text-align: left;
  font-weight: bold;
}

.member-description {
  text-align: left;
  display: block;
}

.member-photo {
  float: left;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 2em
}

.member-link{
  margin-right: 20px;
}

table,th,td{
  border:1px solid black;
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
  margin: auto;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

.ul-1 {
  margin-left: 60px; 
}



.big_image {
  margin:auto;
  height: 250px;
  background-color: darkblue;

}

.l_content {
  width: 50%;
  float: left;
  margin-top: 10px;
    
}
.r_content {
  width: 50%;
  float: right;
  margin-top: 10px;
  }

  .features_exp {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: small;

  }

  .title {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: grey;
  }
  